[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "scores"
dynamic = ["version"]
authors = [
  { name="Tennessee Leeuwenburg", email="tennessee.leeuwenburg@bom.gov.au" },
]
description = """\
Scores is a package containing mathematical functions \
for the verification, evaluation and optimisation of model outputs and predictions.
"""
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
dependencies = [
    "xarray",
    "pandas",
    "scipy",
    "bottleneck"
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-watch",
    "pytest-cov",
    "pre-commit",
    "black == 23.3.0",
    "mypy == 1.3.0",
    "pylint == 2.17.4",
    "dask",
    "h5netcdf",
    "pandas-stubs"
]
tutorial = [
    "jupyterlab",
    "matplotlib",
    "h5netcdf",
    "rasterio",
    "rioxarray"
]
maintainer = ["build", 
              "hatch", 
              "sphinx",
              "myst-parser",
              "sphinx-book-theme"
]
all = ["scores[dev,tutorial]"]

[project.urls]
"Homepage" = "http://www.bom.gov.au"

[tool.hatch.build]
exclude = [
    "/tutorials/",
    "/docs/",
    "/tests/"
]

[tool.hatch.version]
path = "src/scores/__init__.py"

[tool.isort]
profile = "black"

[tool.black]
line-length = 120

[tool.mypy]
warn_return_any = true
warn_unused_configs = true

[[tool.mypy.overrides]]
ignore_missing_imports = true

[tool.coverage.paths]
source = ["/src/"]

[tool.pytest.ini_options]
addopts = [
    '--cov-fail-under=98',
    '--cov-report=html',
    '--cov-report=term-missing',
    '--junitxml=report.xml'
]
