# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Unit Tests

on:
  [push, pull_request]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[all]
    - name: Test with pytest
      run: |
        # editable is necessary as pytest will run against the installed
        # package rather than the local files creating a coverage report of 0%
        pip install -e .
        pytest tests/ --cov=src/
    - name: Test tutorial notebooks with pytest
      run: |
        pytest --nbmake tutorials/
    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.3.0
      with:
        flag-name: run-${{ join(matrix.*, '-') }}
        parallel: true
  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Indicate Coveralls Parallel Finished
      uses: coverallsapp/github-action@v2.3.0
      with: 
        parallel-finished: true
  
