# This workflow will install Python dependencies, run tests and lint with a single version of Python

name: Run pre-commit

on:
  push:
    branches: ["develop", "main", "[0-9]+-*"]
  pull_request:
    branches: ["develop", "main", "[0-9]+-*"]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest   

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
          python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[all]
    - name: pre-commit checks
      run: |
        pre-commit run --all
